/* .container{
    max-width: 1180px;
} */
body{
    margin: 0;
    padding: 0;
}

.timergroup{
    float: right;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    width: 140px;
}

.availableSquares{
    background-color: #ff5280 !important;
    opacity: 30%;
}

.chessgame{
    min-width: 770px;
    height: 100vh;
    overflow: auto;
    max-width: 1080px;
    position: relative;
    margin: auto;
}
.MediterraneanIsland{
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
}
.intotheVoid{
    background: rgba(38,69,125,1);
    background: -moz-linear-gradient(left, rgba(38,69,125,1) 0%, rgba(36,65,118,1) 6%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(38,69,125,1)), color-stop(6%, rgba(36,65,118,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(38,69,125,1) 0%, rgba(36,65,118,1) 6%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(38,69,125,1) 0%, rgba(36,65,118,1) 6%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(38,69,125,1) 0%, rgba(36,65,118,1) 6%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(38,69,125,1) 0%, rgba(36,65,118,1) 6%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26457d', endColorstr='#000000', GradientType=1 );    
}

/* chessboard */
.chessboard{
    width: 480px;
    position: relative;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.chessblock{
    width: 12.5%;
    min-width: 12.5%;
    height: 100%;
}
.chessrow{
    height: 60px;
    display: flex;
}
.MediterraneanIsland > .chessgame .chessboard > .chessrow:nth-child(2n) > div:nth-child(2n-1){
    background-color: darkgrey;
}
.MediterraneanIsland > .chessgame > .chessboard > .chessrow:nth-child(2n-1) > div:nth-child(2n){
    background-color: darkgrey;
}
.MediterraneanIsland > .chessgame > .chessboard > .chessrow:nth-child(2n) > div:nth-child(2n){
    background-color: white;
}
.MediterraneanIsland > .chessgame > .chessboard > .chessrow:nth-child(2n-1) > div:nth-child(2n-1){
    background-color: white;
}

.intotheVoid > .chessgame > .chessboard > .chessrow:nth-child(2n) > div:nth-child(2n-1){
    background-color: #300269;
}
.intotheVoid > .chessgame > .chessboard > .chessrow:nth-child(2n-1) > div:nth-child(2n){
    background-color: #300269;
}
.intotheVoid > .chessgame > .chessboard > .chessrow:nth-child(2n) > div:nth-child(2n){
    background-color: #a1afff;
}
.intotheVoid > .chessgame > .chessboard > .chessrow:nth-child(2n-1) > div:nth-child(2n-1){
    background-color: #a1afff;
}

/* chess pieces */
.chesspiece{
    width: 100%;
    height: 100%;
}
.brook{
    background-image: url(chessPieces/Chess_brook.png);
}
.wrook{
    background-image: url(chessPieces/Chess_wrook.png);
}
.bbishop{
    background-image: url(chessPieces/Chess_bbishop.png);
}
.wbishop{
    background-image: url(chessPieces/Chess_wbishop.png);
}
.bknight{
    background-image: url(chessPieces/Chess_bknight.png);
}
.wknight{
    background-image: url(chessPieces/Chess_wknight.png);
}
.bqueen{
    background-image: url(chessPieces/Chess_bqueen.png);
}
.wqueen{
    background-image: url(chessPieces/Chess_wqueen.png);
}
.bking{
    background-image: url(chessPieces/Chess_bking.png);
}
.wking{
    background-image: url(chessPieces/Chess_wking.png);
}
.bpawn{
    background-image: url(chessPieces/Chess_bpawn.png);
}
.wpawn{
    background-image: url(chessPieces/Chess_wpawn.png);
}

.activepiece{
    filter: drop-shadow(0 0 0.75rem rgb(227, 51, 39));
    width: 100%;
    height: 100%;
}
/* chess pieces end*/

#wtimer, #btimer{
    text-align: center;
}


.timer{
    border: 2px solid black;
    width: 100px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 33px;
    background-color: white;
}
.buttongroup{
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    width: 140px;
}
.button-30 {
    width: 130px;
    margin: 10px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}





  
  